* {
  box-sizing: border-box;
}

:root {
  font-size: calc(1em + 0.16vw);
  display:grid;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: inherit;
  line-height: 1.5;
  color: $color-darkgrey;
  background-color: $color-grey;
}

.container {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;

  > * + * {
    margin-top: 1rem;
  }
}
