* {
  padding: 0;
  margin: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: rgba(95, 93, 93, 0.849);
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
  background-color: #c3cfe2;
}

ul {
  list-style: none;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 20em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 50px 90px 50px;
  width: 386px;
  margin-bottom: -25px;
  margin-left: 20%;
  margin-right: 20%;
  -webkit-box-shadow: 0px 1px 6px rgba(95, 93, 93, 0.849);
          box-shadow: 0px 1px 6px rgba(95, 93, 93, 0.849);
  background-color: #fff;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 18px;
  padding: 50px;
  width: 386px;
  margin-top: -10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #686de0;
}

figure {
  padding: 0px 50px 0px 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 40px;
  border: 6px solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
}

.name {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.address {
  color: #c3cfe2;
}
