* {
  padding: 0;
  margin: 0;
}
@import "./variable";

* {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: $color-darkgrey;
}
body {
  box-sizing: border-box;
  padding-top: 50px;
  background-color: $color-grey;
}
ul {
  list-style: none;
}

  main {
    @include box-shadow;
  box-sizing: border-box;
  border-top: 20em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 90px 50px;
  width: 386px;
  margin-bottom: -25px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: $color-white;
}
footer {
  @include box-shadow;
  box-sizing: border-box;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  padding: 50px;
  width: 386px;
  margin-top: -10px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: $color-purpleblue;
}
  figure {
  padding: 0px 50px 0px 50px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  img {
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 40px;
  border: 6px solid $color-white;
  object-fit: cover;
  }
  .name {
  color: $color-white;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .address {
  color: $color-grey;
} 
  .card { 
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(7, 1fr); 
    grid-column-gap: 15px;
    grid-row-gap: 10px; 
    }

  
  /*media queries*/
  @media (min-width: 1024px){
    .card { 
      display: grid; 
      grid-template-columns: repeat(2, 1fr); 
      grid-template-rows: repeat(4, 1fr); 
      grid-column-gap: 0px;
      grid-row-gap: 0px; 
      }
      .card-1 { grid-area: 1 / 1 / 2 / 2; } 
      .card-2 { grid-area: 1 / 2 / 2 / 3; } 
      .card-3 { grid-area: 2 / 1 / 3 / 2; } 
      .card-4 { grid-area: 2 / 2 / 3 / 3; } 
      .card-5 { grid-area: 3 / 1 / 4 / 2; } 
      .card-6 { grid-area: 3 / 2 / 4 / 3; } 
      .card-7 { grid-area: 4 / 1 / 5 / 2; }   
    }
  @media (min-width: 1500px){
    .card { 
      display: grid; 
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: repeat(3, 1fr); 
      grid-column-gap: 15px;
      grid-row-gap: 10px; 
      }
      .card-1 { grid-area: 1 / 1 / 2 / 2; } 
      .card-2 { grid-area: 1 / 2 / 2 / 3; } 
      .card-3 { grid-area: 1 / 3 / 2 / 4; } 
      .card-4 { grid-area: 2 / 1 / 3 / 2; } 
      .card-5  { grid-area: 2 / 2 / 3 / 3; } 
      .card-6  { grid-area: 2 / 3 / 3 / 4; } 
      .card-7  { grid-area: 3 / 1 / 4 / 2; } 
      }
  
