* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: calc(1em + 0.16vw);
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: inherit;
  line-height: 1.5;
  color: rgba(95, 93, 93, 0.849);
  background-color: #c3cfe2;
}

.container {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.container > * + * {
  margin-top: 1rem;
}

.list--cards {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list--cards > * {
  max-width: 20rem;
}

.list--cards > * > * {
  -webkit-box-shadow: 0px 2px 6px rgba(95, 93, 93, 0.849);
          box-shadow: 0px 2px 6px rgba(95, 93, 93, 0.849);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list--cards .card__top {
  padding: 3rem 3rem 6rem;
  margin-bottom: -1.5rem;
  border-top: 20em;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: #fff;
}

.list--cards .card__bottom {
  padding: 3rem;
  margin-top: -1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  text-align: center;
  font-size: 1rem;
  background-color: #686de0;
}

.list--cards .card__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.list--cards .card__photo img {
  border-radius: 50%;
  margin-top: -6rem;
  border: 6px solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
}

.list--cards .card__name {
  color: #fff;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.list--cards .card__meta {
  color: #c3cfe2;
}

.list--photos {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(9rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  grid-gap: 1em;
}

.list--photos > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}

.list--photos > *:hover figcaption, .list--photos > *:focus figcaption {
  opacity: 1;
}

.list--photos > *:last-child {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.list--photos .card__figure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.list--photos img {
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 100%;
}

.list--photos figcaption {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: inherit;
  background-color: #2b3145;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

.list--photos a {
  padding: 0.25em 0.5em;
  text-align: center;
  background-color: #fff;
  border-radius: inherit;
  font-size: 0.8rem;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: background-color 300ms ease-in-out, -webkit-transform 250ms;
  transition: background-color 300ms ease-in-out, -webkit-transform 250ms;
  transition: background-color 300ms ease-in-out, transform 250ms;
  transition: background-color 300ms ease-in-out, transform 250ms, -webkit-transform 250ms;
}

.list--photos a:hover, .list--photos a:focus {
  background-color: #fff;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.list {
  padding-left: 0;
  list-style: none;
}
