* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
}
.icons {
  position: fixed;
  top: 30%;
  right: 0%;
  width: 270px;
  display: flex;
  flex-direction: column;
}
.icons a {
  padding: 8px;
  font-size: 16px;
  margin: 2px;
  text-align: left;
  
  transform: translate(195px, 0px);
  transition: all 0.5s;
}
.icons a:hover {
  transform: translate(0px, 0px);
}
.icons a i {
  margin-right: 25px;
  height: 40px;
  width: 40px;
  color: $color-white;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  transition: all 0.5s;
}
.icons a:hover i {
  transform: rotate(360deg);
}

.blog {
  background-color: $color-pink;
  color: $color-white;
}
.twitter {
  background-color: $color-lightblue;
  color: $color-white;
}
.linkedin {
  background-color: $color-darkblue;
  color: $color-white;
}
.facebook {
  background-color: $color-mediumblue;
  color: $color-white;
}
.github {
  background-color: $color-black;
  color: $color-white;
}

/*.social--media-buttons {
  @include list-reset;
}
  html, body {
    height:100%;
  }

.social--media-buttons .button {
  border:2px solid black;
  position: fixed;
  top: 50%;
  right: 0%;
  width: 200px;
  flex-direction:column;
  overflow: hidden;
  transform: translateX(100px);
  /*transition: transform 400ms ease-in-out;*/
/*transition: all 0.3s ease-out;
  
  margin-top: 2.5em; /*was -2.5em terugzetten na plaatsing rechts?*/
/*margin-bottom: 1px;
}
/*::before ook nog
            normaal transform: translateX(-100px); transition: transform 400ms ease-in-out
            &:hover {transform: translateX(0)} eerst blokjes, geen marge en daarna met text*/
/*
.social--media-buttons .button:hover {
  width: 250px;
}
.social--media-buttons .button .icon {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.social--media-buttons .button .icon i {
  font-size: 25px;
  transition: all 0.3s ease-out;
}
.social--media-buttons .button:hover .icon i {
  color: #fff;
}

.social--media-buttons .button:nth-child(1):hover .icon {
  background-color: $color-pink;
  color: $color-white;
}
.social--media-buttons .button:nth-child(2):hover .icon {
  background-color: $color-lightblue;
  color: $color-white;
}
.social--media-buttons .button:nth-child(3):hover .icon {
  background-color: $color-darkblue;
  color: $color-white;
}
.social--media-buttons .button:nth-child(4):hover .icon {
  background-color: $color-mediumblue;
  color: $color-white;
}
.social--media-buttons .button:nth-child(5):hover .icon {
  background-color: $color-black;
  color: $color-white;
}
.social--media-buttons span {
  font-size: 16px;
  margin: 16px;
  transition: all 0.3s ease-out;
}

.social--media-buttons .button:nth-child(1) span {
  background-color: $color-pink;
  color: $color-white;
}
.social--media-buttons .button:nth-child(2) span {
  background-color: $color-lightblue;
  color: $color-white;
}
.social--media-buttons .button:nth-child(3) span {
  background-color: $color-darkblue;
  color: $color-white;
}
.social--media-buttons .button:nth-child(4) span {
  background-color: $color-mediumblue;
  color: $color-white;
}
.social--media-buttons .button:nth-child(5) span {
  background-color: $color-black;
  color: $color-white;
}

/*
.social--media-blog {
  background-color: $color-pink;
  color: $color-white;
  font-size: 12px;
  padding: 5px;
  padding-right: 41px;
}

.social--media-linkedin {
  background-color: $color-darkblue;
  color: $color-white;
  font-size: 12px;
  padding: 5px;
  padding-right: 35px;
}

.social--media-twitter {
  background-color: $color-lightblue;
  color: $color-white;
  font-size: 12px;
  padding: 5px;
  padding-right: 33px;
}

.social--media-facebook {
  background-color: $color-mediumblue;
  color: $color-white;
  font-size: 12px;
  padding: 5px;
  padding-right: 20px;
}

.social--media-github {
  background-color: $color-black;
  color: $color-white;
  font-size: 12px;
  padding: 5px;
  padding-right: 22px;
}*/
